{
  "interfaces": {
    "ts3": {
      "name": "Teamspeak 3"
    },
    "discord": {
      "name": "Discord"
    }
  },
  "services": {
    "youtube": {
      "name": "YouTube",
      "icon": "youtube-play"
    },
    "filesystem": {
      "name": "Filesystem",
      "icon": "folder",
      "prefix": "songs/filesystem/"
    },
    "url": {
      "name": "URL",
      "icon": "link"
    },
    "soundcloud": {
      "name": "SoundCloud",
      "icon": "soundcloud",
      "apikey": "htuiRd1JP11Ww0X72T1C3g"
    },
    "tts": {
      "name": "Text-to-Speech",
      "icon": "bullhorn"
    },
    "spotify": {
      "username": "foo",
      "password": "bar"
    }
  },
  "users": {
    "0": {
      "name": "Admin",
      "login": "admin",
      "password": "4dm1n",
      "accounts": [
        {
          "interface": "ts3",
          "id": "0123456789ABCDEF"
        },
        {
          "interface": "discord",
          "id": "0123456789ABCDEF"
        }
      ]
    }
  }
}
